<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214755552988-4nqq7thmflnfj6b6ckorg5012rh7bh08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214755552988-4nqq7thmflnfj6b6ckorg5012rh7bh08</string>
	<key>API_KEY</key>
	<string>AIzaSyBY-0rarU__6wFIbq8hAD9R93L57uJdo9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>214755552988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qurbanSeller</string>
	<key>PROJECT_ID</key>
	<string>qurban-76010</string>
	<key>STORAGE_BUCKET</key>
	<string>qurban-76010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214755552988:ios:9e4e1af70e1123d3564e19</string>
</dict>
</plist>